version: 2.1
description: Project Nami

orbs:
  # https://circleci.com/developer/orbs/orb/circleci/maven
  maven: circleci/maven@1.4.1
  # https://circleci.com/developer/orbs/orb/coveralls/coveralls
  coveralls: coveralls/coveralls@2.2.1

executors:
  openjdk17:
    docker:
      - image: cimg/openjdk:17.0

workflows:
  build_project:
    jobs:
      - maven/test:
          executor: openjdk17
          post-steps:
            - coveralls/upload