version: 2.1
description: Project Nami

orbs:
  # https://circleci.com/developer/orbs/orb/circleci/maven
  maven: circleci/maven@1.4.1
  codecov: codecov/codecov@3.2.5

executors:
  openjdk17:
    docker:
      - image: cimg/openjdk:17.0

workflows:
  build_project:
    jobs:
      - maven/test:
          executor: openjdk17
          post-steps:
            - codecov/upload